<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--source Folder Path-->
    <add key="from" value="D:\toCompres" />
    <!--Destination Folder Path-->
    <add key="to" value="\\192.168.0.20\ServerShare\Abdul Samad\comp\" />
    <!--Declare FileName for Zip-->
    <add key="fileName" value="raza DB.zip" />
    <!--Declare Time in hours-->
    <add key="time" value="1" />
  </appSettings>
</configuration>